.row#login
	.col-xs-12#title
		center
			h1 Login
	.col-xs-10.col-xs-offset-1#input-section
		input(ng-model="user.username", placeholder="username", type="text")
		input(ng-model="user.password", placeholder="password", type="password")
	.col-xs-3.col-xs-offset-8
		button.button(ng-click="login();", style="width:100px; height:35px; float:right;") Login

	a(ui-sref="home").back-btn back