.row#unanswered-questions
	.col-xs-12#top-title
		h4(style="padding-top:12px;") Group: {{group.name}}
	.col-xs-12
		h3 Unanswered Questions
		hr

	.content-container
		//- p(ng-if="requestCompleted") All questions have been answered!
		.col-xs-12.content(ng-repeat="question in group.questions", ng-show="question.solution === '' || !question.solution")
			.row
				p.time-asked(style="padding-right:3px; padding-top: 3px;") Last asked: 17th September 2016
			.row(style="padding-left: 10px; padding-right: 10px;")
				p.question {{question.question}} Some randomly long question that really is quite long I mean look how long it really is
				button.button(ng-click="answerQuestion(question)").answer-button Answer
