button:focus {
  outline:0;
  padding: 0;
  border: none;
  background: none;
}
button {
  outline:0;
  padding: 0;
  border: none;
  background: none;
}

body {
	color: white;
	font-family: ".SFNSDisplay-Ultralight";

	.font-light {
		font-weight: Ultralight;
	}

	button {
		background: transparent
	}

	.button {
		height: 50px;
		width: 150px;
		padding: 10px;
		padding-left: 25px;
		padding-right: 25px;
	    background-image: url("/img/buttonBackground.png");
    	background-size: cover;
		color: white;
	}

	input {
		width: 100%;
		font-size: 15px;
		background: transparent;
		width: 100%;
		color: white;
		height: 25px;
		border-style: solid;
		border-width: 0px 0px 1px 0px;
		margin-bottom: 15px;
		border-color: white;
	}

	input:focus {
		outline-width: 0;
	}
}