body {
	color: white;
	font-family: ".SFNSDisplay-Ultralight";

	.font-light {
		font-weight: Ultralight;
	}

	.button {
		height: 50px;
		width: 150px;
		padding: 10px;
		padding-left: 25px;
		padding-right: 25px;
	    background-image: url("/img/buttonBackground.png");
    	background-size: cover;
		color: white;
	}

}