#splash {
	height: 100vh;
    background-image: url("/img/splash.png");
    background-size: cover;

    #title {
    	margin-top: 35vh;

    	h1 {
    		font-size: 60px;
    	}
    }

	.login-btn {
		position: fixed;
		left: 40vw;
		bottom: 5vh;
		color: white
	}

	#options {
		padding-top: 35px;
	}
}