#unanswered-questions {
	height: 100vh;
	background-image: linear-gradient(-130deg, #4DA0B0 0%, #D39D38 100%);
	border: 1px solid #979797;

	#top-title {
		margin-top: -20px;
		width: 100%;
		height: 50px;
		background-image: url("/img/buttonBackground.png");
    	background-size: cover;
	}

	.content-container {
		margin-left: 15px;
		margin-right: 15px;
	}

	.content {
		background-image: url("/img/viewBackground.png");
		background-size: cover;

		.time-asked {
			font-size: 10px;
			float:right;
		}

		.question {
			font-size: 20px;
		}

		.answer-button {
			float:right;
			padding-left: 25px;
			margin-bottom: 10px;
			height: 40px;
		}
	}
}