.row#splash

	.col-md-10.col-md-offset-1#title
		center
			h1.font-light RefHelp
		hr
		center
			p Answering the Questions that Matter to You

	.col-md-12#options
		center
			a(ui-sref="refugee.portal.ask").button#start-button Start

		center
			a(ui-sref="login").login-btn Group Owner
