ui-view

nav.navbar.navbar-default.navbar-fixed-bottom
	.container
		ul.nav.navbar-nav
			.row
				.col-xs-6
					li
						center
							a(ui-sref='refugee.portal.ask', ui-sref-active='active')
								img(src="/img/question-icon.png")
				.col-xs-6
					li
						center
							a(ui-sref='refugee.portal.list', ui-sref-active='active')
								img(src="/img/history-icon.png")
