.row#survey
	//- .col-xs-8.col-xs-offset-2
	//- 	h2 These details will help us help you better

	//- .col-xs-8.col-xs-offset-2
	//- 	h4 Age
	//- 	select.form-control(ng-model='survey.age', name='ageSelect')
	//- 		option(value='<18') < 18
	//- 		option(value='18-5') 18 - 25
	//- 		option(value='25-35') 25 - 35
	//- 		option(value='35+') 35+

	//- .col-xs-8.col-xs-offset-2
	//- 	h4 Gender
	//- 	select.form-control(ng-model='survey.gender', name='genderSelect')
	//- 		option(value='male') Male
	//- 		option(value='female') Female

	//- .col-xs-8.col-xs-offset-2
	//- 	h4 Camp
	//- 	select.form-control(ng-model='survey.group', name='groupSelect')
	//- 		option(ng-repeat='group in groups' value='{{group.id}}') {{group.name}}

	//- .col-xs-12
	//- 	center
	//- 		button.button(ng-click='submitSurvey()') Submit
