ui-view

nav.navbar.navbar-default.navbar-fixed-bottom
	.container
		ul.nav.navbar-nav
			.row
				a(ui-sref='refugee.portal.ask', ui-sref-active='active')
					.col-xs-6
						li
							center
								img(src="/img/question-icon.png")
				a(ui-sref='refugee.portal.list', ui-sref-active='active')
					.col-xs-6
						li
							center
								img(src="/img/history-icon.png")
