#refugee-ask
		.col-xs-10.col-xs-offset-1
			form(ng-submit='submitQuestion()')
				input(type='text', ng-model="question", placeholder='Type your question here')
				button.button.btn-sm(type='submit') Search

			p(ng-if='result.hasOwnProperty("result")') No answer found to this question, we've sent it to a volunteer to answer
			h3 {{result.translated_solution}}
			p {{result.solution}}
